@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@import './assets/Card.css';
@import './assets/Search.css';

.container {
    display: flex;
    flex-flow:column  wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .header {
    position: fixed;
    z-index: 9999999;
    top: 0;
    background-color: #000f3f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #61eaff;
  }
  
  .body {
    margin-top: 15rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  h1 {
    font-size: 6rem;
    font-family: 'Tilt Prism', cursive;
    margin: 0 1rem;
    grid-column: 1/4;
    color: #61eaff;
  }
  
  .body~p {
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 400;
    color: #61eaff;
  }
  
  a {
    color: #61eaff;
  }
  
  
  @media (max-width: 849px) { 
    h1 {
      font-size: 3rem;
    }
    .header {
    flex-wrap: wrap;
    }
  }